<div class="modal-header bg-secondary text-white">
    <span class="lead" *ngIf="!isUpdateOperation">Add Feedback</span>
    <span class="lead" *ngIf="isUpdateOperation">Update Feedback</span>
</div>

<div class="modal-body w-75 mx-auto" [formGroup]="feedbackForm">

    <input type="text" placeholder="Product Name" class="form-control mb-3" [disabled]="true" [value]="product.name">



    <input type="text" placeholder="Title" class="form-control mt-3" formControlName="title">
    <span class="text-danger" *ngIf="hasErrors(feedbackForm.get('title'))">Invalid Input</span>


    <input type="text" placeholder="Content" class="form-control mt-3" formControlName="content">
    <span class="text-danger" *ngIf="hasErrors(feedbackForm.get('content'))">Invalid Input</span>


    <div class="input-group mt-3">
        <input type="number" placeholder="Rating" class="form-control" formControlName="rating">
        <div class="input-group-append">
            <div class="input-group-text">/5</div>
        </div>
    </div>
    <span class="text-danger" *ngIf="hasErrors(feedbackForm.get('rating'))">Invalid Input</span>


    <input type="text" placeholder="Your Name" class="form-control mt-3" formControlName="givenBy">
    <span class="text-danger" *ngIf="hasErrors(feedbackForm.get('givenBy'))">Invalid Input</span>

    <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-success me-2" (click)="saveFeedback()">{{isUpdateOperation?'UPDATE':'ADD'}}</button>
        <button class="btn btn-danger" (click)="closeModal()">CLOSE</button>
    </div>
</div>